:root {
    --background: #f5f1fe;
    --first-color: #222831;
    --second-color: #393e46;
    --third-color: #f96d00;
    --forth-color: #f2f2f2;
}
.lv-container {
    height: 100%;
    width: 100%;
    padding: 0px 5px 0 5px;
    overflow: none;
    border-radius: 5px 0 0 5px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white;
    font-weight: bold;
    color: var(--first-color);
}

.lv-container>.lv-popup-header {
    height: 5%;
    min-height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid var(--first-color);
    backdrop-filter: blur(5px);
}
.lv-container>.lv-popup-header > div {
    flex-basis: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}
.lv-container>.lv-popup-header > .lv-popup-header-left > div,
.lv-container>.lv-popup-header>.lv-popup-header-right > div  {
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 1px 1px 5px gray;
}
.lv-container>.lv-popup-header > .lv-popup-header-left > div:hover,
.lv-container>.lv-popup-header>.lv-popup-header-right > div:hover {
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 1px 2px 5px grey;
}
.lv-container>.lv-popup-header > .lv-popup-header-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: larger;
}
.lv-container>.lv-popup-header>.lv-popup-header-right {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.lv-container>.lv-section-container {
    height: 90%;
    min-height: 90%;
    width: 100%;
    border-radius: 5px;
}

.lv-sections {
    width: 100%;
    display: flex;
    background-color: var(--background);
    height: 100%;
    overflow: auto;
}
.lv-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    min-width: fit-content;
    flex-direction: column;
}
.lv-page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    opacity: .6;
    padding: 0 10px;
    justify-content: center;
}
.lv-page-header > div {
    height: 100%;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}
.lv-page-header img {
    height: 100%;
    scale: .5;
}
.lv-page-header img:hover {
    scale: .52;
    cursor: pointer;
}
.lv-page-header .lv-page-resolution {
    margin-left: 5px;
}
.lv-page-header > div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
}
.lv-page-header > div:nth-child(3) {
    display: flex;
    align-items: center;
}
.lv-page-header:hover {
    opacity: .8;
}

.lv-page-header .close-tab-btn:hover {
    cursor: pointer;
    scale: 1.1;
}
.lv-section-tab {
    height: 100%;
    width: 100%;
}

.lv-section>.lv-section-tab > iframe {
    height: 100%;
    border: none;
    width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.lv-container>.lv-footer {
    height: 5%;
    min-height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lv-container>.lv-footer > div {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lv-container>.lv-footer > div img {
   height: 24px;
   margin: 5px;
}

.lv-container>.lv-footer > div:nth-child(3) img:hover {
    cursor: pointer;
    scale: 1.1;
}



