.mbe-container {
    height: 100%;
    width: 100%;
    padding: 0px 5px 0 5px;
    overflow: none;
    background-color: white;
    border-radius: 5px 0 0 5px;
}

.mbe-container>.mbe-popup-header {
    height: 5%;
    min-height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid lightslategray;
    backdrop-filter: blur(5px);
}
.mbe-container>.mbe-popup-header > div {
    flex-basis: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}
.mbe-container>.mbe-popup-header > .mbe-popup-header-left > div,
.mbe-container>.mbe-popup-header>.mbe-popup-header-right > div  {
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 1px 1px 5px gray;
}
.mbe-container>.mbe-popup-header > .mbe-popup-header-left > div:hover,
.mbe-container>.mbe-popup-header>.mbe-popup-header-right > div:hover {
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 1px 2px 5px grey;
}
.mbe-container>.mbe-popup-header > .mbe-popup-header-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: larger;
}
.mbe-container>.mbe-popup-header>.mbe-popup-header-right {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.mbe-container>.mbe-section-container {
    height: 90%;
    min-height: 90%;
    width: 100%;
    border-radius: 5px;
}

.mbe-sections {
    width: 100%;
    display: flex;
    background-color: white;
    height: 100%;
    overflow: auto;
}
.mbe-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    min-width: fit-content;
    flex-direction: column;
}
.mbe-page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    opacity: .6;
    padding: 0 10px;
    justify-content: center;
}
.mbe-page-header > div {
    height: 100%;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}
.mbe-page-header img {
    height: 100%;
    scale: .5;
}
.mbe-page-header img:hover {
    scale: .52;
    cursor: pointer;
}
.mbe-page-header .mbe-page-resolution {
    margin-left: 5px;
}
.mbe-page-header > div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
}
.mbe-page-header > div:nth-child(3) {
    display: flex;
    align-items: center;
}
.mbe-page-header:hover {
    opacity: .8;
}

.mbe-page-header .close-tab-btn:hover {
    cursor: pointer;
    scale: 1.1;
}
.mbe-section-tab {
    height: 100%;
    width: 100%;
}

.mbe-section>.mbe-section-tab > iframe {
    height: 100%;
    border: none;
    width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.mbe-container>.mbe-footer {
    height: 5%;
    min-height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mbe-container>.mbe-footer > div {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mbe-container>.mbe-footer > div img {
   height: 24px;
   margin: 5px;
}

.mbe-container>.mbe-footer > div:nth-child(3) img:hover {
    cursor: pointer;
    scale: 1.1;
}



